Repository moevm/mse1h2024-telegram, pull requests merged in 2024-03, with the labels that each got.

#35 33 Добавить CORS Middleware на бэкенд
  backend/app/main.py
Labels: enhancement, backend

#39 23 Разработка примера работы приложения с гугл-таблицами
  .env.example
  backend/app/main.py
  backend/app/tables/__init__.py
  backend/app/tables/gsheets/__init__.py
  backend/app/tables/gsheets/table.py
  backend/app/tables/table_interface.py
  backend/app/tables/tables_manager.py
  backend/requirements.txt
Labels: enhancement, iteration 2, backend

#38 15 Разработка внешнего вида страницы авторизации (админ панель)
  frontend/app/README.md
  frontend/app/index.html
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.vue
  frontend/app/src/assets/base.css
  frontend/app/src/assets/logo.svg
  frontend/app/src/assets/main.css
  frontend/app/src/components/HelloWorld.vue
  frontend/app/src/components/TelegramLogin.vue
  frontend/app/src/components/TheWelcome.vue
  frontend/app/src/components/WelcomeItem.vue
  frontend/app/src/components/__tests__/HelloWorld.spec.ts
  frontend/app/src/components/icons/IconCommunity.vue
  frontend/app/src/components/icons/IconDocumentation.vue
  frontend/app/src/components/icons/IconEcosystem.vue
  frontend/app/src/components/icons/IconSupport.vue
  frontend/app/src/components/icons/IconTooling.vue
  frontend/app/src/main.ts
  frontend/app/src/router/index.ts
  frontend/app/src/views/AboutView.vue
  frontend/app/src/views/HomeView.vue
  frontend/app/src/views/Login.vue
  frontend/app/vite.config.ts
Labels: iteration 2, frontend

#55 46 Класс настроек на бэкенде
  .env.example
  backend/app/auth/validate.py
  backend/app/config/settings.py
  backend/app/main.py
  backend/app/routers/add_sample_task.py
  backend/app/tables/gsheets/__init__.py
  backend/requirements.txt
Labels: enhancement, iteration 2, backend

#56 47 Cоздать страницу с таблицами
  frontend/app/src/assets/main.css
  frontend/app/src/components/AddTableDialog.vue
  frontend/app/src/components/AddTableRuleDialog.vue
  frontend/app/src/components/DeleteTableDialog.vue
  frontend/app/src/components/EditTableDialog.vue
  frontend/app/src/components/EditTableRuleDialog.vue
  frontend/app/src/components/Modal.vue
  frontend/app/src/components/TelegramLogin.vue
  frontend/app/src/entities/PagesEntity.ts
  frontend/app/src/entities/TableEntity.ts
  frontend/app/src/main.ts
  frontend/app/src/models/TableModel.ts
  frontend/app/src/router/index.ts
  frontend/app/src/views/AdminPanel.vue
  frontend/app/src/views/Login.vue
  frontend/app/src/views/TablesPage.vue
  frontend/app/src/views/TablesPanel.vue
Labels: iteration 2, frontend

#60 54 Создать переход в админ панель
  frontend/app/src/views/Login.vue
Labels: iteration 2, frontend

#62 37 Обновление CORS origins на бэкенде
  .env.example
  backend/app/config/settings.py
  backend/app/main.py
Labels: enhancement, backend

#63 48 Страница преподавателей
  frontend/app/src/entities/TeacherEntity.ts
  frontend/app/src/models/TeacherModel.ts
  frontend/app/src/views/TeachersPage.vue
Labels: iteration 2, frontend

#64 34 Изменение Docker файлов и Compose
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
Labels: enhancement, iteration 2, docker

#74 73 Добавление volum'ов для MongoDB и RabbitMQ
  docker-compose.yml
Labels: iteration 2, docker

#76 53 Взаимодействие фронтенда с бэкендом
  .env.example
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/AddTableDialog.vue
  frontend/app/src/components/AddTableRuleDialog.vue
  frontend/app/src/components/AddTeacherDialog.vue
  frontend/app/src/components/DeleteTableDialog.vue
  frontend/app/src/components/EditTableDialog.vue
  frontend/app/src/components/EditTableRuleDialog.vue
  frontend/app/src/components/RouteBar.vue
  frontend/app/src/config/defaultAxios.ts
  frontend/app/src/entities/PagesEntity.ts
  frontend/app/src/entities/TableEntity.ts
  frontend/app/src/entities/TeacherEntity.ts
  frontend/app/src/main.ts
  frontend/app/src/models/TableModel.ts
  frontend/app/src/models/TeacherModel.ts
  frontend/app/src/stores/counter.ts
  frontend/app/src/stores/tablesStore.ts
  frontend/app/src/stores/teachersStore.ts
  frontend/app/src/views/AdminPanel.vue
  frontend/app/src/views/Login.vue
  frontend/app/src/views/LogsPage.vue
  frontend/app/src/views/TablesPage.vue
  frontend/app/src/views/TablesPanel.vue
  frontend/app/src/views/TeachersPage.vue
Labels: iteration 2, frontend
