Repository moevm/mse1h2024-telegram, pull requests merged in 2024-05, with the labels that each got.

#146 143 Запротектить Endpoint'ы на бэкенде
  backend/app/deps.py
  backend/app/routers/crud.py
  frontend/app/src/config/defaultAxios.ts
Labels: iteration 3, iteration 4, frontend, backend

#183 174 Исправление бага фильтрации логов при переходе
  frontend/app/package-lock.json
  frontend/app/src/models/LogModel.ts
  frontend/app/src/models/TeacherModel.ts
  frontend/app/src/views/LogsPage.vue
  frontend/app/src/views/TeachersPage.vue
Labels: bug, iteration 4, frontend, High Priority

#185 175 compare date
  backend/app/tables/comparator/ComparatorHandler.py
Labels: bug, iteration 4, backend, High Priority

#186 171 add logs for /start and /stop
  backend/app/main.py
  backend/app/routers/crud.py
Labels: iteration 4, backend, High Priority

#184 172 fix log readability
  backend/app/main.py
  backend/app/queue/queue_manager.py
  backend/app/tables/spreadsheet_table.py
Labels: iteration 4, backend, High Priority

#196 176 Страница со статистикой
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/AddTeacherDialog.vue
  frontend/app/src/components/RouteBar.vue
  frontend/app/src/entities/StatisticEntity.ts
  frontend/app/src/models/StatisticModel.ts
  frontend/app/src/router/index.ts
  frontend/app/src/stores/statisticsStore.ts
  frontend/app/src/views/AdminPanel.vue
  frontend/app/src/views/StatisticsPage.vue
Labels: iteration 4, frontend, High Priority

#197 94 Адаптивный интерфейс
  frontend/app/src/assets/main.css
  frontend/app/src/components/RouteBar.vue
  frontend/app/src/components/SignInAdmin.vue
  frontend/app/src/views/AdminPanel.vue
  frontend/app/src/views/LoginPage.vue
  frontend/app/src/views/LogsPage.vue
  frontend/app/src/views/TablesPage.vue
  frontend/app/src/views/TeachersPage.vue
Labels: iteration 3, iteration 4, frontend, Medium Priority

#198 173 Логи: дополнительная информация
  backend/app/routers/crud.py
  backend/app/tables/comparator/ComparatorHandler.py
  backend/app/tables/spreadsheet_table.py
Labels: iteration 4, backend, High Priority

#203 201 Баг при конвертации сравниваемых значений
  backend/app/tables/comparator/ComparatorHandler.py
Labels: bug, iteration 4, backend
