Repository moevm/mse1h2024-telegram, pull requests merged in 2024-04, with the labels that each got.

#104 98 Модификация логгера
  backend/app/config/log_config.py
  backend/app/main.py
Labels: enhancement, iteration 3, backend

#108 69 Workflow для проверки сборки контейнеров
  .env.example
  .github/workflows/docker.yml
Labels: enhancement

#107 99 Изменение префикса ендпоинтов
  backend/app/config/settings.py
  backend/app/main.py
  frontend/app/src/config/defaultAxios.ts
  telegram_bot/bot/main.py
Labels: enhancement, backend

#110 Add static analyzer workflow
  .github/workflows/static_analyze.yml
  backend/Dockerfile
  backend/app/auth/exceptions.py
  backend/app/auth/utils.py
  backend/app/auth/validate.py
  backend/app/config/log_config.py
  backend/app/config/settings.py
  backend/app/database.py
  backend/app/main.py
  backend/app/models/db_models.py
  backend/app/queue/queue_manager.py
  backend/app/routers/add_sample_task.py
  backend/app/routers/auth.py
  backend/app/routers/crud.py
  backend/app/schemas/auth.py
  backend/app/tables/__init__.py
  backend/app/tables/spreadsheet_table.py
  backend/app/tables/table_interface.py
  telegram_bot/bot/main.py
  telegram_bot/bot/messages/button.py
Labels: enhancement

#119 118 fix linter error bot main
  telegram_bot/bot/main.py
  telegram_bot/bot/messages/text_content.py
Labels: bug, iteration 3, bot

#122 114 Зависимости tg бота
  telegram_bot/Dockerfile
  telegram_bot/requirements.txt
Labels: enhancement, iteration 3, bot, docker

#117 84 Изменения способа авторизации
  .env.example
  backend/app/config/settings.py
  backend/app/core/__init__.py
  backend/app/core/security.py
  backend/app/deps.py
  backend/app/routers/auth.py
  backend/app/schemas/auth.py
  backend/requirements.txt
Labels: enhancement, iteration 3, backend

#129 82 create log page
  frontend/app/src/entities/LogEntity.ts
  frontend/app/src/models/LogModel.ts
  frontend/app/src/stores/logsStore.ts
  frontend/app/src/views/LogsPage.vue
Labels: iteration 3, frontend

#128 97 compare handler
  backend/app/queue/queue_manager.py
  backend/app/tables/comparator/ComparatorHandler.py
  backend/app/tables/comparator/Operator.py
  backend/app/tables/comparator/__init__.py
  backend/app/tables/spreadsheet_table.py
Labels: iteration 3, backend

#131 127 Фикс ключей Tables Manager'a
  backend/app/tables/tables_manager.py
Labels: bug, iteration 3, backend

#133 115 Socket.io для отправки логов
  backend/app/config/log_config.py
  backend/app/config/settings.py
  backend/app/core/socket.py
  backend/app/main.py
  backend/requirements.txt
Labels: enhancement, iteration 3, backend

#135 116 Изменение страницы аутентификации
  frontend/app/src/assets/main.css
  frontend/app/src/components/AddTableDialog.vue
  frontend/app/src/components/AddTableRuleDialog.vue
  frontend/app/src/components/DeleteTableDialog.vue
  frontend/app/src/components/DeleteTableRuleDialog.vue
  frontend/app/src/components/EditTableDialog.vue
  frontend/app/src/components/EditTableRuleDialog.vue
  frontend/app/src/components/SignInAdmin.vue
  frontend/app/src/components/TelegramLogin.vue
  frontend/app/src/config/defaultAxios.ts
  frontend/app/src/interfaces/TableStoreType.ts
  frontend/app/src/models/TableItemTransformer.ts
  frontend/app/src/stores/tablesStore.ts
  frontend/app/src/views/LoginPage.vue
  frontend/app/src/views/TablesPage.vue
  frontend/app/src/views/TablesPanel.vue
Labels: iteration 3, frontend

#136 134 Неверный id таблицы при удалении
  backend/app/routers/crud.py
Labels: bug, iteration 3, backend

#140 139 Изменение startup'а FastAPI
  backend/app/main.py
  backend/app/tables/tables_manager.py
Labels: bug, enhancement, iteration 3, backend

#144 49 защита рутов
  frontend/app/public/favicon.ico
  frontend/app/src/config/defaultAxios.ts
  frontend/app/src/router/index.ts
Labels: iteration 3, frontend

#145 90 обновление функционала страницы преподавателей
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/AddTeacherDialog.vue
  frontend/app/src/components/DeleteTeacherDialog.vue
  frontend/app/src/components/EditTeacherDialog.vue
  frontend/app/src/entities/TeacherEntity.ts
  frontend/app/src/models/LogModel.ts
  frontend/app/src/models/TeacherModel.ts
  frontend/app/src/stores/logsStore.ts
  frontend/app/src/stores/teachersStore.ts
  frontend/app/src/views/LogsPage.vue
  frontend/app/src/views/TeachersPage.vue
Labels: iteration 3, frontend

#152 150 подключение WebSocket к странице логов
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/config/websocketService.ts
  frontend/app/src/models/LogModel.ts
  frontend/app/src/views/AdminPanel.vue
  frontend/app/src/views/LogsPage.vue
  frontend/app/src/views/TeachersPage.vue
Labels: iteration 3, frontend

#154 153 Исправление бага при создании уведомления
  backend/app/tables/comparator/ComparatorHandler.py
  backend/app/tables/spreadsheet_table.py
Labels: bug, iteration 3, backend

#151 102 валидация вводимых значений
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/AddTableDialog.vue
  frontend/app/src/components/AddTableRuleDialog.vue
  frontend/app/src/components/AddTeacherDialog.vue
  frontend/app/src/components/EditTableDialog.vue
  frontend/app/src/components/EditTableRuleDialog.vue
  frontend/app/src/components/EditTeacherDialog.vue
  frontend/app/src/components/SignInAdmin.vue
  frontend/app/src/interfaces/ValidationRulesType.ts
  frontend/app/src/stores/tablesStore.ts
  frontend/app/src/transforms/TableItemTransformer.ts
  frontend/app/src/validation/PageValidation.ts
  frontend/app/src/validation/TableItemValidation.ts
  frontend/app/src/validation/TeacherValidation.ts
  frontend/app/src/views/LoginPage.vue
Labels: iteration 3, frontend

#169 168 Исправление отображения логов
  frontend/app/src/models/LogModel.ts
Labels: iteration 3, frontend
